.column {
	float: left;
	padding: 10px;
	height: 100%;
}

.participantColumn, .channelColumn {
	width: 20%;
	background-color: #3a3a3a;
	/* https://stackoverflow.com/questions/21227287/make-div-scrollable */
	overflow-y: auto;
}

.chatColumn {
	width: 60%;
	background-color: #444444;
}

/* https://www.w3schools.com/howto/howto_css_chat.asp */
/* Chat containers */
.msgContainer {
	border: 2px solid #dedede;
	background-color: #4e4e4e;
	border-radius: 5px;
	padding-top: 5px;
	margin: 5px auto;
	width: 95%;
	line-height: .6;
}

/* Clear floats */
.doAfter::after {
	content: "";
	clear: both;
	display: table;
}

/* https://stackoverflow.com/questions/21227287/make-div-scrollable */
#chatWindow {
	overflow-y: auto;
}
