<!DOCTYPE html>
<!-- From https://codepen.io/FumioNonaka/pen/mRgYXe -->
<html lang="en">
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="messageBoxTestJS.js" type="text/javascript" defer="defer"></script>

		<link rel="stylesheet" href="messageBoxTestCSS.css">
		<title>Vue App</title>
	</head>

	<body>
		<div id="app" class="container">
			<h2>Message List</h2>
			<ul class="list-unstyled" id="messageList">
				<li v-for="msg in messages">
					<div v-if="msg.isOrg === true">
						<div v-bind:style="orgStyleObject">
							<p>{{msg.text}} - {{msg.author}}</p>
						</div>
					</div>
					<div v-else>
						<div v-bind:style="normalStyleObject">
							<p>{{msg.text}} - {{msg.author}}</p>
						</div>
					</div>
				</li>
			</ul>
			<div id="userInput">
				<input type="text" v-model="msgText" placeholder="add new message here" />
				<button v-on:click="addMessage()" class="btn btn-primary">Submit</button>
			</div>
			<br><br>
			<div id="outsideClick">
				<button class="btn btn-primary" id="outsideBtn">Outside Text (Like From Other User Through Websocket)</button>
			</div>
		</div>
	</body>
</html>