{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block header_block %}
        {% include 'head.html' %}
    {% endblock %}
    <link rel="stylesheet" href="{% static '/css/chatRoom.css' %}">
    {{ previous_messages|json_script:'initMsgJSON' }}
    {{ selfIsOrganizer|json_script:'selfIsOrganizerJSON' }}
    {{ channelList|json_script:'channelListJSON' }}
    <script type="text/javascript">
        var initialMessages = JSON.parse(document.getElementById('initMsgJSON').text);
        var initialChannelList = JSON.parse(document.getElementById('channelListJSON').text);
        var myEmail = '{{ self_email }}';
        var roomName = '{{ room_name }}';
        var selfIsOrganizer = 0;
        if (JSON.parse(document.getElementById('selfIsOrganizerJSON').text) == "true")
        {
            selfIsOrganizer = true;
        }
        else
        {
            selfIsOrganizer = false;
        }
    </script>
    <script src="{% static '/js/chatRoom.js' %}" defer='defer'></script>
</head>

<body>
    <form class="form-inline" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button class="btn btn-link nav-link" type="submit">Logout</button>
    </form>

    <div class="column channelColumn" id="channelColumn">
        <h2>Channels</h2>
        <ul v-if="selfIsOrganizer == true" id="if">
            <li v-for="channel in showAllChannels">
                <a v-on:click="redirect([[ channel.channelName ]])" href="javascript:;">[[ channel.channelName ]]</a>
            </li>
        </ul>
        <ul v-else id="else">
            <li v-for="channel in showOnlyNonOrganizerChannels">
                <a v-on:click="redirect([[ channel.channelName ]])" href="javascript:;">[[ channel.channelName ]]</a>
            </li>
        </ul>
    </div>

    <div class="column chatColumn">
        <div id="chatWindow" v-bind:style="chatWindowStyleObject">
            <div v-for="msg in messages" id="forMsg">
                <div v-if="msg.email === selfEmail" id="v-ifEmail">
                    <div v-bind:style="[baseStyleObject, selfStyleObject, normalStyleObject]" class="doAfter">
                        <p>[[ msg.firstName ]] [[ msg.lastName ]]</p>
                        <p>[[ msg.contents ]]</p>
                        <p v-bind:style="selfTimeStyleObject">[[ msg.time ]]</p>
                    </div>
                </div>
                <div v-else id="v-elseNotEmail">
                    <div v-if="msg.fromOrg === true" id="v-ifFromOrg">
                        <div v-bind:style="[baseStyleObject, organizerStyleObject]" id="isOrgMsgCont" class="doAfter">
                            <p>[[ msg.firstName ]] [[ msg.lastName ]]</p>
                            <p>[[ msg.contents ]]</p>
                            <p v-bind:style="normalTimeStyleObject">[[ msg.time ]]</p>
                        </div>
                    </div>
                    <div v-else>
                        <div v-bind:style="[baseStyleObject, normalStyleObject]" id="isNormMsgCont" class="doAfter">
                            <h6>[[ msg.firstName ]] [[ msg.lastName ]]</h6>
                            <p>[[ msg.contents ]]</p>
                            <p v-bind:style="normalTimeStyleObject">[[ msg.time ]]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="chatTypeWindow" v-bind:style="divStyleObject">
            <input id="chatMessageInput" type="text" size="100"/>
            <input id="chatMessageSend" type="button" value="Send"/>
        </div>
    </div>

    <div class="column participantColumn">
        <h2>Organizers</h2>
        <ul>
            {% for i in organizerList %}
                <li>{{ i.first_name }} {{ i.last_name }}</li>
            {% endfor %}
        </ul>

        <h2>Participants</h2>
        <ul>
            {% for i in userList %}
                <li>{{ i.first_name }} {{ i.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>