{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block header_block %}
        {% include 'head.html' %}
    {% endblock %}
    <link rel="stylesheet" href="{% static '/css/chatRoom.css' %}">
    {{ previous_messages|json_script:'initMsgJSON' }}
    {{ selfIsOrganizer|json_script:'selfIsOrganizerJSON' }}
    {{ channelList|json_script:'channelListJSON' }}
    {{ participantList|json_script:'participantListJSON' }}
    {{ startMuted|json_script:'startMutedJSON' }}
    <script type="text/javascript">
        var initialMessages = JSON.parse(document.getElementById('initMsgJSON').text);
        var initialChannelList = JSON.parse(document.getElementById('channelListJSON').text);
        var initialParticipantList = JSON.parse(document.getElementById('participantListJSON').text);
        var startMuted = JSON.parse(document.getElementById('startMutedJSON').text);
        var myEmail = '{{ self_email }}';
        var roomName = '{{ room_name }}';
        var myName = '{{ self_name }}';
        var selfIsOrganizer = 0;
        let audioNotificationSource = "{% static '/sounds/ding.mp3' %}";
        var audioNotification = new Audio(audioNotificationSource);
        if (JSON.parse(document.getElementById('selfIsOrganizerJSON').text) == "true")
        {
            selfIsOrganizer = true;
        }
        else
        {
            selfIsOrganizer = false;
        }
    </script>
    <script src="{% static '/js/chatRoom.js' %}" defer='defer'></script>
</head>

<body>
    <form class="form-inline" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button class="btn btn-link nav-link" type="submit">Logout</button>
    </form>

    <div class="column channelColumn" id="channelColumn">
        <h2>Channels</h2>
        <ul v-if="selfIsOrganizer == true" id="if">
            <li v-for="channel in showAllChannels">
                <a v-on:click="redirect([[ channel.channelName ]])" href="javascript:;">[[ channel.channelName ]]</a>
            </li>
        </ul>
        <ul v-else id="else">
            <li v-for="channel in showOnlyNonOrganizerChannels">
                <a v-on:click="redirect([[ channel.channelName ]])" href="javascript:;">[[ channel.channelName ]]</a>
            </li>
        </ul>
    </div>

    <div class="column chatColumn">
        <div id="chatWindow" v-bind:style="chatWindowStyleObject">
            <div v-for="msg in messages" id="forMsg">
                <div v-if="msg.email === selfEmail" id="v-ifEmail">
                    <div v-bind:style="[baseStyleObject, selfStyleObject, normalStyleObject]" class="doAfter">
                        <p>[[ msg.firstName ]] [[ msg.lastName ]]</p>
                        <p>[[ msg.contents ]]</p>
                        <p v-bind:style="selfTimeStyleObject">[[ msg.time ]]</p>
                    </div>
                </div>
                <div v-else id="v-elseNotEmail">
                    <div v-if="msg.fromOrg === true" id="v-ifFromOrg">
                        <div v-bind:style="[baseStyleObject, organizerStyleObject]" id="isOrgMsgCont" class="doAfter">
                            <p>[[ msg.firstName ]] [[ msg.lastName ]]</p>
                            <p>[[ msg.contents ]]</p>
                            <p v-bind:style="normalTimeStyleObject">[[ msg.time ]]</p>
                        </div>
                    </div>
                    <div v-else>
                        <div v-bind:style="[baseStyleObject, normalStyleObject]" id="isNormMsgCont" class="doAfter">
                            <h6>[[ msg.firstName ]] [[ msg.lastName ]]</h6>
                            <p>[[ msg.contents ]]</p>
                            <p v-bind:style="normalTimeStyleObject">[[ msg.time ]]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="chatTypeWindow" v-bind:style="divStyleObject">
            <textarea id="chatMessageInput" rows="2" cols="70" placeholder="Type your chat message here..." v-bind:style="textAreaStyleObject"></textarea>
            <button id="chatMessageSend" type="button" class="btn btn-secondary">Send</button>
        </div>
    </div>

    <div class="column participantColumn" id="participantColumn">
        <h2>Organizers</h2>
        <ul>
            <li v-for="part in getOrganizerList">
                [[ part.firstName ]] [[ part.lastName ]]
            </li>
        </ul>

        <h2>Participants</h2>
        <ul v-if="selfIsOrganizer === true">
            <li v-for="part in getParticipantList">
                <p>[[ part.firstName ]] [[ part.lastName ]] <a v-on:click="organizerMute([[ part.email ]])" href="javascript:;">Mute</a></p>
            </li>
        </ul>
        <ul v-else>
            <li v-for="part in getParticipantList">
                [[ part.firstName ]] [[ part.lastName ]]
            </li>
        </ul>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="muteModal" style="color:black">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mute Participant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>How many minutes do you want to mute [[ participantName ]] for? (-1 for permanent mute)</p>
                    <input type="number" min="-1" max="1440" value="15" id="muteTimeInput"></input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="muteParticipant">Mute</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>