{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block header_block %}
        {% include 'head.html' %}
    {% endblock %}

    <link rel="stylesheet" href="{% static '/css/chatRoom.css' %}">
</head>

<body>
    <div class="column channelColumn">
        <h2>Channels</h2>
        <ul>
            {% for i in channelList %}
                <li>{{ i.channelName }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="column chatColumn">
        <h2>Chat</h2>
        <p>Chat stuff...</p>
    </div>

    <div class="column participantColumn">
        <h2>Organizers</h2>
        <ul>
            {% for i in organizerList %}
                <li>{{ i.first_name }} {{ i.last_name }}</li>
            {% endfor %}
        </ul>

        <h2>Participants</h2>
        <ul>
            {% for i in userList %}
                <li>{{ i.first_name }} {{ i.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>